test_data.html
template.py
sample.json
research.ipynb
pyrightconfig.json
production_data.html
package-lock.json
mkdocs.yaml
Makefile
main.py
LICENSE
Dockerfile
docker-compose.yml
dataset.pyrightconfig
data.dvc
traefik
tests
steps
frontend
docs
.ropeproject
.idea
iac